<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Movie Database</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div class="container">
    {{>header}}

    <form action="/movies/new" method="POST">
      <input type="text" id="title" name="title" placeholder="Title">
      <input type="text" id="year" name="year" placeholder="Year">
      <button type="submit">Submit</button>
    </form>

    <a class="back" href="/">Go back</a>

  </div>

  {{>footer}}


</body>

</html>