<header>
  <nav class="navbar">
    <div class="container">
      <ul class="navbar-right">
        <li class="navbar-list"><a href="/">Home</a></li>
        <li class="navbar-list"><a href="/movies">Movie List</a></li>
      </ul>
    </div>
    </div>
  </nav>
  <h1>{{title}}</h1>
</header>